In [65]:
from dateutil import parser

import pandas as pd
df = pd.read_csv('nav_011419.csv')

In [66]:
df2 = df.groupby(['Teacher','ClassName','Group','ID','Final'])['Text'].apply(','.join).reset_index()

In [54]:
df2['Text'][1]

'Solar System DB Open Main Solarsystem Click System Mercury Solarsystem Click System Mercury Solarsystem Click System Mercury Solarsystem Click System Mercury Solarsystem Click System Venus Solarsystem Click System Earth System Solarsystem Click World Moon Solarsystem Click System Mars System Solarsystem Click World Mars Solarsystem Click World Phobos'

In [50]:
df2.to_csv('newdf.csv', index=False)

In [55]:
def jaccard(data):
    
    a=data['Text'][0]
    b=data['Text'][1]
    union = list(set(a+b))
    intersection = list(set(a) - (set(a)-set(b)))
    print ("Union - " , union)
    print ("Intersection - ", intersection)
    jaccard_coeff = float(len(intersection))/len(union)
    print ("Jaccard Coefficient is =  " , jaccard_coeff)

In [7]:
df2 = pd.read_csv('newdf.csv' )
df2.dropna(inplace=True)
df2

,Teacher,ClassName,Group,ID,Final,Text
0,E,2.0,1.0,07ad4da7-f534-42ee-98ea-0788b7a130be,5/16/2016,Solar System DB Open Main Solar System DB Clos...
1,E,2.0,1.0,07ad4da7-f534-42ee-98ea-0788b7a130be,5/23/2016,Solar System DB Open Main Solarsystem Click Sy...
2,E,2.0,1.0,07ad4da7-f534-42ee-98ea-0788b7a130be,5/25/2016,Solarsystem Click World Phobos Solar System DB...
3,E,2.0,1.0,07ad4da7-f534-42ee-98ea-0788b7a130be,5/27/2016,Solarsystem Click System The Sun Solar System ...
4,E,2.0,1.0,07ad4da7-f534-42ee-98ea-0788b7a130be,5/31/2016,Alien Database Open Alien Database Close Ali...
5,E,2.0,1.0,471fa0de-5a4b-47ff-8f99-89cf28963ee9,5/16/2016,Communication Center Open Communication Cente...
6,E,2.0,1.0,471fa0de-5a4b-47ff-8f99-89cf28963ee9,5/23/2016,Solar System DB Open Main Solar System DB Open...
7,E,2.0,1.0,471fa0de-5a4b-47ff-8f99-89cf28963ee9,5/25/2016,Solar System DB Open Main Solarsystem Click Sy...
8,E,2.0,1.0,471fa0de-5a4b-47ff-8f99-89cf28963ee9,5/27/2016,Solarsystem Click System Mercury Solarsystem C...
9,E,2.0,1.0,471fa0de-5a4b-47ff-8f99-89cf28963ee9,5/31/2016,Solar System DB Open Main Solarsystem Click Sy...

In [75]:
def jaccard(data):
    if data.shape[0] <2 :
        return
    
    a=data.iloc[0]['Text'].split(',')
    b=data.iloc[1]['Text'].split(',')
    union = list(set(a+b))
    intersection = list(set(a) - (set(a)-set(b)))
    #print ("Union - " , union)
    #print ("Intersection - ", intersection)
    jaccard_coeff = float(len(intersection))/len(union)
    #print ("Jaccard Coefficient is =  " , jaccard_coeff)
      
    if data.shape[0] >2 :
        #print ("3333333")
        c=data.iloc[2]['Text'].split(',')
        union = list(set(a+c))
        intersection = list(set(a) - (set(a)-set(c)))
        jaccard_coeff2 = float(len(intersection))/len(union)
        jaccard_coeff = (jaccard_coeff + jaccard_coeff2)/2
        
    return data, jaccard_coeff

In [87]:
df3 = df2.groupby(['Teacher','ClassName','Group','Final']).apply(jaccard)
df3.reset_index()
df3.to_csv('jaccard.csv')

    Teacher  ClassName  Group      Final         0
0         E          2      1  5/16/2016  0.100000
1         E          2      1  5/23/2016  0.636364
2         E          2      1  5/25/2016  0.421053
3         E          2      1  5/27/2016  0.666667
4         E          2      1  5/31/2016  0.000000
5         E          2      2  5/16/2016  0.285714
6         E          2      2  5/18/2016  0.550000
7         E          2      2  5/23/2016  0.611111
8         E          2      2  5/25/2016  0.375000
9         E          2      2  5/27/2016  0.300000
10        E          2      2  5/31/2016  0.250000
11        E          2      3  5/16/2016  0.181818
12        E          2      3  5/18/2016  0.357143
13        E          2      3  5/23/2016  0.333333
14        E          2      3  5/25/2016  0.421053
15        E          2      3  5/27/2016  0.240000
16        E          2      3  5/31/2016  0.111111
17        E          2      4  5/16/2016  0.363636
18        E          2      4  5/18/2016       NaN
19        E          2      4  5/23/2016  0.500000
20        E          2      4  5/25/2016  0.428571
21        E          2      4  5/27/2016       NaN
22        E          2      4  5/31/2016  0.333333
23        E          2      5  5/16/2016  0.571429
24        E          2      5  5/18/2016  0.357143
25        E          2      5  5/23/2016  0.333333
26        E          2      5  5/25/2016  0.307692
27        E          2      5  5/27/2016  0.571429
28        E          2      5  5/31/2016  0.250000
29        E          2      6  5/16/2016  0.500000
..      ...        ...    ...        ...       ...
450       J          8      5  5/24/2016  0.285714
451       J          8      5  5/26/2016  0.333333
452       J          8      5  5/27/2016  1.000000
453       J          8      5  5/31/2016  0.666667
454       J          8      5   6/1/2016  0.500000
455       J          8      6  5/17/2016  0.333333
456       J          8      6  5/19/2016  0.625000
457       J          8      6  5/24/2016  0.647059
458       J          8      6  5/26/2016  0.666667
459       J          8      6  5/27/2016  0.428571
460       J          8      6  5/31/2016  0.666667
461       J          8      6   6/1/2016  0.500000
462       J          8      7  5/17/2016  0.142857
463       J          8      7  5/19/2016  0.388889
464       J          8      7  5/24/2016  0.440000
465       J          8      7  5/26/2016  0.500000
466       J          8      7  5/27/2016  0.375000
467       J          8      7  5/31/2016       NaN
468       J          8      7   6/1/2016  1.000000
469       J          8      8  5/17/2016       NaN
470       J          8      8  5/19/2016  0.272727
471       J          8      8  5/26/2016       NaN
472       J          8      8  5/27/2016  0.000000
473       J          8      9  5/17/2016  0.333333
474       J          8      9  5/19/2016  0.615385
475       J          8      9  5/24/2016  0.050000
476       J          8      9  5/26/2016  0.700000
477       J          8      9  5/27/2016  0.428571
478       J          8      9  5/31/2016  0.090909
479       J          8      9   6/1/2016  0.333333

[480 rows x 5 columns]

In [25]:
navlog['ID'].value_counts()

adf6733c-55a4-4bfc-83c2-258aee9f54e1    297
5ece3138-c7f6-4a19-889c-05797d0a0845    267
54efc5bf-e9f4-4460-920a-2c150a007f54    264
bd63633e-aa4f-472b-bd84-8c00b5082f15    257
06ac8646-5e41-40e7-9810-f9e83873d795    248
a5884cb1-2b52-4959-b830-08cfd2a9e8c2    246
338dc9ab-48a3-4d17-aec8-135ff956b251    242
4bf0d205-9b20-449c-a017-9375858e527d    232
54a71959-495b-45e6-95df-8ca25b9d68ab    213
aec1bae5-705f-43cb-b192-4077efbbdf27    210
965f4ab7-efc7-470b-b2a6-22160a0a10d4    207
8bd3d298-48fb-4b5f-9c07-c73afc86e790    203
e41a566b-cac0-4786-85c2-c439cdd0b064    201
82a8ccaf-26b9-4557-a4af-999fb5b26d00    198
0a7d8321-e3fc-4842-a3af-50318248fcf1    194
fa493a89-1237-4640-9de0-8912f55ac316    192
02a9cfd5-dcd0-467c-92c9-8380b3426429    191
7d57fd69-c737-4860-b901-b5a498fe64b6    191
5942ba88-015f-4497-96ac-43175d79ab8f    187
35c3f79a-072c-4a47-bd6c-efc69b1ca0bd    187
671c3cad-67d9-4e8d-842b-ebd28779753f    179
8ecea415-c9a4-47e6-b51a-bf95723b86f6    175
869fa95d-a6ff-4c5d-9295-a9af98d4fa87    173
f3f0bbc0-050e-4cec-b917-d8200aedd19b    172
40cf7b8c-7c56-475b-85ad-e20b96460848    172
eec4835d-0ab7-49e1-b022-dba1f16cd44f    170
1165c5fb-9633-4d3a-89c1-10cb4a8e8271    169
d46e5c47-31e0-439f-9dc2-b83bdca03fd5    169
f2dfaf84-d526-4ada-b13b-4839812137e9    166
3cb14055-6ca3-4026-862b-b568e67b70ea    166
                                       ...
f95216bf-f2a7-4297-9031-49d34d7ed577     60
713411f8-cf17-46da-bc51-209e4a391b07     60
e8539a2b-6a0e-4a5a-8fb8-8216084585ae     59
435f9f38-2f17-43c8-8428-1c10b8b66e16     59
f1b6e349-39db-490c-9361-a3bff5304ad5     58
6ddf13ae-6cfd-424e-942f-6b3969385484     56
dd35ff4b-c7c6-4193-8196-610e8a86f882     55
e9136d0a-2292-496d-ad1b-f16ee4c7e4fe     55
50fb02e5-986a-4778-9cc6-e16f9d3dd3ec     54
c65633b2-1609-42b6-b94a-d17a41d50bb3     53
6d810961-a8b7-4187-aa1c-af6194e305b2     53
bf52bdd4-8e88-4649-ab10-97906b6d93be     52
e6f7714d-3b37-4ed9-8a63-a5be425e3f3c     51
1dce6814-6f06-4ac4-8c87-9aff4d760bc6     50
34397f29-e6d6-4d24-9aa4-4f4e639c369f     49
51d77d67-2ff2-4df8-bc3e-b79fba03c38a     47
02a401f2-7c68-441a-a0f7-bec350b174e4     44
4cfbae10-1ee7-43a5-8f39-29248759a640     41
ee44d911-3966-400e-8324-1a3f25c9ca22     34
255263a5-bc05-4e53-b348-3b87676abdb1     33
7aa57f37-5dd6-4d85-bd99-967631bdfcad     29
483ad932-34bd-4c7d-b4fb-59600eb3c353     26
0ecab6ac-8b31-41ff-bef3-c8ee200ff338     26
fec0fde3-8798-49af-bdec-ca0f0f8b9232     24
a28a64c0-37fe-4fd9-8282-a3ebf9505eba     22
cb3202b9-ed63-49b4-9c68-cee89afa7a8a     14
b2bb39ed-2c44-48f0-ad1f-ac1daa8e3d35     13
92c63140-8db1-4004-9892-76bcc01efb23     13
fdeb9790-a3a4-4abe-babb-3adc6916ffbc      7
9f7ca4af-f918-4e35-ae94-07b634cfa7f8      5
Name: ID, Length: 160, dtype: int64

In [23]:
for index, row in navlog.iterrows():
    #userid = row['ID']
    teacherId = row['Teacher']
    classId = row['Class']
    groupId = row['Group']
    logdate =  parser.parse(row['Final Timestamp']).date()

    if logdate != logdate_pre:
        #new day
        daycnt += 1
        logdate_pre = logdate
        #set userid1
        userid1 = row['ID']
        #set data
        strusr1 = row['Tool'] + ' ' + row['Action'] + ' ' + row['Note']
    else:#same day
        
        #same user id
        if userid1 == row['ID']:
            strusr1 += row['Tool'] + ' ' + row['Action'] + ' ' + row['Note']
        else
            #already have that user id 
            if userid2 == row['ID'] ||  userid3 == row['ID']:
                if 
            # new user id
            else:
                userid2 = row['ID']
                strusr2 = row['Tool'] + ' ' + row['Action'] + ' ' + row['Note']
        else:
            #
            
            
    continue

        
print('user cnt: ' , daycnt, parser.parse(row['Final Timestamp']).date())

user cnt:  1440 2016-06-01